.top-container {
  background-color: #041a20;
  padding-top: 5%;
  height: 35rem;
}
.pro-span {
  text-decoration: underline;
}
.selfieImg {
  height: 130px;
  width: 130px;
  margin-top: 50px;
}

.profile {
  margin-bottom: 50px;
}

.intro-para {
  width: 30%;
  margin: auto;
  line-height: 2;
}

.blog {
  margin-bottom: 50px;
}

.twitter-tweet {
  margin: auto;
}

.contact-para {
  width: 40%;
  margin: 40px auto 60px;
  line-height: 2;
}

.hp-container > div > img {
  width: 40%;
  height: 100%;
  flex-shrink: 0;
}

.hc {
  width: 50%;
  margin: 100px auto;
}

.hpheading {
  margin: auto;
  color: #041a20;
}
.bo-dv {
  display: flex;
}
.bq-dv {
  display: flex;
}

.sw-dv {
  display: flex;
}

h1 {
  color: #ffffff;
  margin: 50px auto 0 auto;
  font-family: "Satisfy", cursive;
  font-size: 5.625rem;
}

.sub-title {
  color: #ffffff;
}

h2 {
  color: #041a20;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-weight: 600;
}

h3 {
  color: #e62d2d;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 3%;
  color: #eaf6f6;
  margin: 100px auto;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #041a20;
}

.bottom-container > a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 4;
  font-size: 1.1rem;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #ffffff;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #479cec, #2581d6);
  background-image: -moz-linear-gradient(top, #479cec, #2581d6);
  background-image: -ms-linear-gradient(top, #479cec, #2581d6);
  background-image: -o-linear-gradient(top, #479cec, #2581d6);
  background-image: -webkit-gradient(to bottom, #479cec, #2581d6);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #6eb2f1, #5aa4e9);
  background-image: -moz-linear-gradient(top, #6eb2f1, #5aa4e9);
  background-image: -ms-linear-gradient(top, #6eb2f1, #5aa4e9);
  background-image: -o-linear-gradient(top, #6eb2f1, #5aa4e9);
  background-image: -webkit-gradient(to bottom, #6eb2f1, #5aa4e9);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/* nav part css learned from w3 school https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navContainer ul {
  list-style-type: none;
  margin: 0;
  margin-top: -2rem;
  margin-right: 1rem;
  background-color: none;
  padding: 0;

  list-style-type: none;
  overflow: hidden;
}

.navContainer li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 10px;
  display: inline;
  float: right;
}

.navContainer a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navContainer a:hover {
  color: #91c3fc;
}

/* .projects img {
  width: 30%;
  max-height: 30rem;
} */

.projects a:link {
  text-decoration: none;
}

.projects a:visited {
  text-decoration: none;
}

.projects a:hover {
  text-decoration: underline;
  color: #041a20;
}

.projects .skill-row {
  min-height: 13rem;
}

/* .experience img {
  width: 33%;
  max-height: 30rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
} */

/* #dhlogo {
  width: 36%;
  margin-top: 2rem;
  margin-right: 7.5rem;
} */

/* .skill-row {
  display: flex;
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  flex-direction: row-reverse;
} */

.row-div {
  display: flex;
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
  margin-bottom: 1rem;
}

.row-div-reverse {
  flex-direction: row-reverse;
}

.img-cont {
  width: 36%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-cont {
  width: 50%;
}

.row-img {
  width: 100%;
}

.img-cont a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo-cont {
  width: 20%;
}

.company-cont {
  width: 50%;
}
